extends layout

block content
  h1 Simplify Your Science
  hr
  .row
    .col-sm-6
      h2 What We Do
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') Extract data »
    .col-sm-6
      h2 Data
      input(type='text', name='filedata' style='width:100%;height:200px')