extends layout

block content
  h1 Simplify Your Science
  hr
  .row
    .col-sm-6
      h2 What We Do
      p Click this button to use IBM Watson to extract key data from an article to make it more accessible.
      p
        a.btn.btn-default(href='#', role='button', id='butt', onClick='executeJavaScript',) Extract data »
    .col-sm-6
      h2 Data
      textarea(type='text', id='box', name='filedata', TextMode='MultiLine', style='width:100%;height:200px')
  .row
    <br>
    <br>
    <br>
    img(src='http://www.pageresource.com/wallpapers/wallpaper/science-dna-wallcg_1063972.jpg', style='width:1150px')